.main{
    width: 1200px;
    margin: 0  auto;   
}

.container-1{
    display: flex;
}
.box-1{
    
   background-color:#5dbcd2;
   width: 30%;
   height: 200px;
   margin:5px 5px 5px 0px;
   
}
.box-2{ 
    background-color:#ffaf47;
    width: 70%;
    height: 200px;
    margin:5px 0px 5px 0px;
   
    
}
.container-2{
    background-color: #ff7747;
    width: 100%;
    height:300px;
    margin-bottom: 5px;   
}
.container-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.container-3 > article{
    background-color: #ffd647;
    width: 32.8%;
    height:200px;      
}
footer {
    margin-top: 5px;
    height: 200px;
    background-color:#fdc1ff ;
    display: none;
}
@media screen and (max-width: 900px) { 
  .container-3 > article{
      height: 400px;
  }
  footer {
    display: block;
  
}
@media screen and (max-width: 700px) { 
    .container-3 > article{
        height: 200px;
        width: 100%;
        margin-top: 5px;
    }
    footer{
        display: none;
    }
}

